.contAccesUser{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ref{
    width: 100%;
}

.cont{
    width: 100%;
    height: 400px;
}