.perfilInfo {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;

  & .contGeneralPerfil {
    width: 87%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .infoPerfil {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      color: white;
      animation: openLeft 1.5s linear;
      gap: 15px;

      & .namePerfil {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 4px;

        & h3 {
          color: #a6a6a6;
          letter-spacing: 0.5px;
          font-size: 1rem;
          line-height: 1;
        }

        & h2 {
          color: white;
          font-size: 1.2rem;
          letter-spacing: 1px;
          line-height: 1;
          width: 95%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-transform: capitalize;
        }
      }

      & .infoContact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
        width: 100%;

        & p {
          color: #a6a6a6;
          font-size: 0.9rem;
          line-height: 1;
          width: 90%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          letter-spacing: 0.5px;
        }
      }

      & .btnEditar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #a6a6a6;
        text-decoration: none;
        background-color: #131313;
        padding: 10px 15px;
        border-radius: 50px;
        font-size: 0.9rem;
        letter-spacing: 0.5px;

        & .icon {
          font-size: 1rem;
          color: #a6a6a6;
        }
      }
    }

    & .infoImg {
      width: 40vw;
      aspect-ratio: 1;
      max-width: 160px;
      position: relative;
      animation: openRight 1.5s linear;

      & span {
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(0, 150, 0);
        right: 5px;
        top: 5px;
        border: 1px solid rgb(0, 202, 0);
      }

      & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #006fff;
        object-fit: cover;
      }
    }
  }

  & .contInfoFisica {
    width: 95%;
    height: 200px;
    border-radius: 30px;
    border: 1px solid #212121;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: openBottom 1.5s linear;

    & .titleInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 7px;
      width: 85%;
      color: white;

      & p {
        font-size: 0.9rem;
        letter-spacing: 0.5px;
        text-transform: capitalize;
      }

      & .titleCont {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        & h4 {
          font-size: 0.9rem;
          text-transform: capitalize;
          letter-spacing: 0.5px;
        }

        & .icon {
          font-size: 0.9rem;
        }
      }
    }

    & .infoFisica {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 85%;

      & .itemFis {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

        & h3 {
          font-size: 1.3rem;
          color: white;
          letter-spacing: 0.5px;

          & span {
            font-size: 1rem;
          }
        }

        & p {
          color: #a6a6a6;
          font-size: 0.9rem;
          letter-spacing: 0.5px;
        }
      }
    }
  }

  & .containerFunctions {
    width: 95%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .trainningBox {
      border-radius: 30px;
      border: 1px solid #212121;
      background-color: #131313;
      width: 50%;
      height: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: white;
      border-radius: 30px;
      padding-top: 20px;
      position: relative;
      animation: openLeft 1.7s linear;

      & .titleSection {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

        & h4 {
          font-size: 1.1rem;
          line-height: 1;
          letter-spacing: 1px;
        }

        & .contDetalle {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 5px;
          color: #a6a6a6;
          width: 100%;

          & p {
            font-size: 0.9rem;
            letter-spacing: 0.5px;
            text-transform: capitalize;
          }

          & .icon {
            font-size: 0.9rem;
          }
        }
      }

      & .imgCoach {
        width: 100%;
        height: 320px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        & .imgItem {
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
          border-radius: 30px;
          object-position: top;
        }
      }

      & .btnRedirect {
        position: absolute;
        bottom: 13px;
        z-index: 100;
        height: 40px;
        width: 85%;
        border-radius: 50px;
        background-color: #006fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;

        & p {
          font-size: 1rem;
          letter-spacing: 0.5px;
        }

        & .icon {
          font-size: 1.4rem;
          transform: rotate(-45deg);
        }
      }
    }

    & .totalCalculo {
      width: 50%;
      height: 420px;
      z-index: -1;
      animation: openContador 1.7s linear;
    }
  }

  & .containerFood {
    border-radius: 30px;
    border: 1px solid #212121;
    background-color: #131313;
    width: 95%;
    height: 225px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 20px;

    & .titleFood {
      height: 80%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      z-index: 1;

      & .boxtitleFood {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

        & h4 {
          width: 100%;
          font-size: 1.1rem;
          line-height: 1;
          letter-spacing: 1px;
          color: white;
          line-height: 1.1;
        }

        & .contDetalle {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          color: #a6a6a6;

          & p {
            font-size: 0.9rem;
            letter-spacing: 0.5px;
          }

          & .icon {
            font-size: 0.9rem;
          }
        }
      }

      & .btnRedirect {
        position: absolute;
        bottom: 15px;
        z-index: 100;
        height: 40px;
        width: 90%;
        border-radius: 50px;
        background-color: #006fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
        color: white;

        & p {
          font-size: 1rem;
          letter-spacing: 0.5px;
        }

        & .icon {
          font-size: 1.4rem;
          transform: rotate(-45deg);
        }
      }
    }

    & .imgFood {
      position: absolute;
      width: 60%;
      height: 200px;
      right: 0px;
      top: 0px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right bottom;
        border-radius: 0px 0px 30px 0px;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }
    }
  }

  & .containerContact {
    border-radius: 30px;
    border: 1px solid #212121;
    background-color: #131313;
    width: 95%;
    margin-top: 30px;
    height: 115px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    & .containerTitle {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 20px;
      gap: 10px;

      & h4 {
        color: white;
        font-size: 1.1rem;
        line-height: 1;
        letter-spacing: 1px;
      }

      & p {
        color: #a6a6a6;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
      }
    }

    & .containerLinks {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      & .itemWss,
      & .itemEmail {
        width: 50px;
        height: 50px;
        background-color: rgb(0, 129, 0);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .icon {
          color: white;
          font-size: 1.6rem;
        }
      }

      .itemEmail {
        background-color: rgb(169, 0, 0);

        & .icon {
          color: white;
          font-size: 1.3rem;
        }
      }
    }
  }
}

@keyframes openLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes openRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes openBottom {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes openContador {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
