.formMasculino {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  & .contBtns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 390px;
    position: absolute;
    z-index: 10;

    & .contUser {
      position: absolute;
      top: -265px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 7px;

      & .imgPerfil {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #006eff23;
        border: 1px solid #006fff;
        outline: 1px solid #006fff;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: relative;

        & p {
          color: #006fff;
          text-align: center;
          width: 70%;
          font-size: 0.8rem;
          letter-spacing: 1px;
          line-height: 1.2;
        }

        & span {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #006fff;
          display: flex;
          align-items: center;
          justify-content: center;

          & .icon {
            font-size: 1.2rem;
            color: white;
          }
        }

        & .imagePreview {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          position: absolute;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }

      & h4 {
        font-size: 1.3rem;
        font-family: "Montserrat";
      }

      & h5 {
        color: #989898;
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }

    & .btnLeft,
    & .btnRight {
      border: 1px solid transparent;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      background-color: transparent;
      cursor: pointer;
    }

    & .btnLeft {
      & .icon {
        transform: rotate(90deg);
        font-size: 1.4rem;
      }
    }

    & .btnRight {
      & .icon {
        transform: rotate(-90deg);
        font-size: 1.4rem;
      }
    }

    & .progressContainer {
      width: 50%;
      height: 5px;
      border: 1px solid #006fff;
      border-radius: 5px;
      overflow: hidden;
    }

    & .btnFin {
      background-color: #006fff;
      border: none;
      height: 50px;
      padding: 10px 10px 10px 15px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: white;
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;

      & .icon {
        font-size: 1.5rem;
      }
    }

    & .progressBar {
      height: 100%;
      background-color: #006fff; /* color de la barra de progreso */
      transition: width 0.3s ease-in-out;
    }
  }

  & .formContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    z-index: 1;
    position: relative;

    & .question {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 65px;
      padding-bottom: 150px;

      & .title {
        width: 100%;
        margin-top: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        & .subtitle {
          color: #989898;
          font-size: 1rem;
        }

        & .firstitle {
          color: white;
          font-size: 1.5rem;
          letter-spacing: 0.5px;
          font-family: "Montserrat";
          width: 85%;
          text-align: center;
        }
      }

      & .contForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 55px;
        width: 85%;

        & .flexBox {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 55px;

          & .itemInput {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            gap: 10px;

            & label {
              color: white;
              font-size: 16px;
              letter-spacing: 1px;
              padding-left: 15px;
            }

            & input {
              width: 100%;
              height: 70px;
              border-radius: 15px;
              border: 1px solid #212121;
              background-color: #131313;
              padding-left: 15px;
              font-size: 16px;
              color: white;
              letter-spacing: 1px;
              outline: none;
            }

            & input::placeholder {
              color: #848484;
              letter-spacing: 1px;
              font-size: 16px;
            }

            & input:hover,
            & input:focus,
            & input:active {
              border: 1px solid #006fff;
            }

            & input:-webkit-autofill,
            & input:-webkit-autofill:hover,
            & input:-webkit-autofill:focus,
            & input:-webkit-autofill:active {
              -webkit-text-fill-color: white !important; /* Cambia el color del texto */
              -webkit-box-shadow: 0 0 0px 1000px #0048ff00 inset !important; /* Fondo blanco para el campo */
              box-shadow: 0 0 0px 1000px #0048ff00 inset !important;
              transition: background-color 5000s ease-in-out 0s;
              font-size: 16px;
            }

            & .error {
              color: yellow;
              font-size: 0.9rem;
              letter-spacing: 1px;
              margin-left: 15px;
              border-bottom: 1px solid yellow;
              padding-bottom: 3px;
            }
    
            .valid {
              border-color: #006fff;
            }
    
            .invalid {
              border-color: #212121;
            }
          }
        }

        & .flexBoxEdad {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 45px;

          & .boxEdad {
            width: 85%;
            height: 90px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            border-radius: 15px;
            border: 1px solid #212121;
            background-color: #131313;

            & p {
              width: 50%;
              height: 100%;
              align-content: center;
              text-align: center;
              color: white;
              font-size: 1.1rem;
              letter-spacing: 1px;
            }
          }

          & .boxEdad:nth-child(2),
          & .boxEdad:nth-child(4) {
            flex-direction: row-reverse;
          }

          & .error {
            color: yellow;
            font-size: 0.9rem;
            letter-spacing: 1px;
            margin-left: 15px;
            border-bottom: 1px solid yellow;
            padding-bottom: 3px;
          }
  
          & .boxEdad.valid {
            border: 2px solid #006fff;
            
          }

        }

        & .flexBoxAdjuntar {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 120px;

          & .itemAdjuntar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 5px;

            & h3 {
              color: white;
              font-size: 1.3rem;
              font-family: "Montserrat";
            }

            & h4 {
              text-align: center;
              color: #656565;
              font-size: 1rem;
              letter-spacing: 1px;
            }

            & label {
              width: 90%;
              height: 300px;
              border: 2px dashed #0056f4;
              font-size: 0.9rem;
              letter-spacing: 1px;
              text-align: center;
              padding-left: 0px;
              border-radius: 30px;
              margin-top: 15px;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;

              & .iconCam {
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;

                & .icon {
                  font-size: 1.5rem;
                  color: #0056f4;
                }
              }

              & .bgItem {
                position: relative;
                height: 90%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                & span {
                  background: linear-gradient(#0c0c0c, #0c0c0c00);
                  width: 100%;
                  height: 80px;
                }

                & span:nth-child(2) {
                  background: linear-gradient(#0c0c0c00, #0c0c0c);
                }

                & img {
                  height: 100%;
                  object-fit: contain;
                  z-index: -1;
                }
              }
            }

            & .notification {
              padding: 0px 25px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 20px;
              background-color: white;
              border-radius: 50px;
              gap: 15px;

              & .icon {
                color: #0056f4;
                font-size: 1.5rem;
              }

              & p {
                color: #0056f4;
                font-size: 1rem;
              }
            }
          }
        }

        & .flexBoxState {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 30px;

          & .btnState {
            border: 1px solid #212121;
            background-color: #131313;
            width: 80%;
            height: 90px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            & p {
              color: white;
              font-size: 1.2rem;
              letter-spacing: 0.5px;

              & span {
                font-size: 1.7rem;
                margin-left: 5px;
              }
            }
          }

          & .showInputs {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;

            & .boxItem {
              width: 80%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: relative;

              & .contInp {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 10px;

                & label {
                  color: white;
                  font-size: 0.9rem;
                  letter-spacing: 0.5px;
                  margin-left: 15px;
                }

                & input {
                  width: 100%;
                  height: 60px;
                  border-radius: 15px;
                  padding-left: 15px;
                  border: 1px solid #212121;
                  background-color: #131313;
                  color: white;
                  outline: none;
                }

                & input::placeholder {
                  font-size: 0.8rem;
                  letter-spacing: 0.5px;
                }
              }

              & .cerrar {
                background-color: red;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: none;
                position: absolute;
                bottom: 12px;
                right: -17px;
                color: white;

                & .icon {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }

        & .message {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
          margin-top: 40px;

          & p {
            color: rgb(133, 133, 133);
            font-size: 0.9rem;
            text-align: center;
            letter-spacing: 0.5px;
            line-height: 1.2;
          }
        }

        & .flexBoxObjetivo {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 25px;

          & .itemObjetivo {
            width: 100%;
            height: 200px;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 10px;

            & .titleBox {
              width: 85%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 20px;

              & h4 {
                color: white;
                font-size: 1.4rem;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                width: 80%;
              }

              & span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 3px solid #006fff;
                background-color: #0c0c0c93;

                & .icon {
                  color: white;
                  font-size: 1.3rem;
                  transform: rotate(-90deg);
                  opacity: 0;
                }
              }
            }

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 25px;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
