.menuContainer {
  width: 100%;
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 20px;
  overflow: auto;


  & .item {
    min-width: 160px;
    border: 2px solid #1f1f1f;
    background-color: #0c0c0cb1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    height: 60px;
    border-radius: 50px;
    padding-left: 7px;
    color: white;
    text-decoration: none;

    & .boxImg {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      position: relative;
      background-color: #1F1F1F;

      & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid transparent;
      }
    }

    & p {
      font-size: 1.1rem;
      letter-spacing: 0.5px;
    }
  }

  & .itemTwo {
    min-width: 220px;
    border: 2px solid #1f1f1f;
    background-color: #0c0c0cb1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    height: 60px;
    border-radius: 50px;
    padding-left: 20px;
    color: white;
    text-decoration: none;

    & p {
      font-size: 1.1rem;
      letter-spacing: 0.5px;
    }
  }
  

  & .itemTre {
    min-width: 200px;
    border: 2px solid #1f1f1f;
    background-color: #0c0c0cb1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    height: 60px;
    border-radius: 50px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;

    & p {
      font-size: 1.1rem;
      letter-spacing: 0.5px;
    }
  }

  & .item.activado, & .itemTwo.activado, & .itemTre.activado{
    color: white;
    background-color: #006effa5;
    border: 2px solid #006fff;

    & .boxImg {

      & img{
        border: 2px solid #006fff;
      }
    }
  }

  & .item.desactivado, & .itemTwo.desactivado, & .itemTre.desactivado{
    opacity: 0.6;
    filter: grayscale(50%);
  }

  & .item.activado:hover, & .itemTwo.activado:hover, & .itemTre.activado:hover{
    background-color: #006fff;
    cursor: auto;
  }

  & .item.desactivado:hover, & .itemTwo.desactivado:hover, & .itemTre.desactivado:hover{
    background-color: #0c0c0c;
    cursor: pointer;
    border: 2px solid #006fff;
  }
}

.menuContainer::-webkit-scrollbar {
  background-color: rgba(0, 0, 255, 0.136);
  height: 0px;
}

.menuContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 72, 255, 0.358);
  border-radius: 50px;
}

.menuContainer::-webkit-scrollbar-track {
  background-color: transparent;
}


@media (min-width: 700px) {
  .menuContainer{
    justify-content: center;
  }
}

@media (min-width: 850px){
  .menuContainer{
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35vh;
    width: 95%;
    margin-top: 0px;
    gap: 25px;
    padding-left: 0px;
    z-index: 1000;

    & .item {
      min-width: 150px;

      & p {
        font-size: 1rem;
      }
    }
  
    & .itemTwo {
      min-width: 200px;
  
      & p {
        font-size: 1rem;
      }
    }
    
  
    & .itemTre {
      min-width: 185px;
      margin-right: 0px;
  
      & p {
        font-size: 1rem;
      }
    }

    
    
  }
  
}