.contanerInput {
  display: flex;
  gap: 12px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 18px;
  position: relative;
}

.contanerInput input {
  flex: 1;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.238);
  outline: none;
  background-color: rgba(255, 255, 255, 0.196);
  color: white;
  font-size: 0.9rem;
}

.contanerInput button {
  background-color: #006effb6;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #006fff;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: white;
}

.contanerInput button:disabled {
  filter: grayscale(1);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.characterCounter {
  position: absolute;
  left: 14px;
  bottom: -17px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 0.65rem;
  letter-spacing: 0.3px;
}
